apiVersion: v1
kind: Service
metadata:
  name: ozoo-service
  namespace: ozoo
spec:
  selector:
    app: ozoo
  type: ClusterIP
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
  externalIPs: 
    - 100.84.191.105

---
apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
  namespace: ozoo
  labels:
    app: mongodb
spec:
  selector:
    app: mongodb
  ports:
  - protocol: TCP
    port: 27017
    targetPort: 27017
  type: ClusterIP
